.testimonials{
    width: 90%;
    margin-top: 60px;
    padding: 0 80px;
    text-align: center;
    position: relative;
left: 60px;


}
.testimonials-title{
color:blue;
font-weight: 600;
margin-bottom: 50px;
margin-top: 100px;
}
.next-btn,.back-btn{
position: absolute;
top:50%;
right: 0;
transform: translateY(-50%);
padding: 15px;
width: 50px;
cursor: pointer;
background: blue;
border-radius: 50%;
}
.back-btn{
    right: auto;
    left: 50px;
    margin-top: 60px;
}
.next-btn{
    margin-top: 60px;
    right: 50px;
}
.slider{
    overflow-x: hidden;
}
.slider ul{
    display: flex;
    width: 200%;
    transition: 0.5s;
    
}

.slider ul li {
list-style: none;
width: 50%;
padding: 20px;

}
.slide{
box-shadow: 0,0,20px rgba(0,0,0,0.5);
padding: 40px;
color: #676767;
    border-radius: 10px;
    border: 1px solid #676767;
    line-height: 1.4;
}
.slide img{
width: 75px;
border-radius: 50;
margin-right: 10px;
border: 2px solid #212ea0;
background-size: cover;
height: 100px;
}

.user-info{
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
@media(max-width:800px){
    .testimonials{
        padding: 0 40px;
    }
    .next-btn,.back-btn{
padding: 10px;
width: 35px;

    }
    .testimonials ul li{
        padding: 10px;
    }
    .slide{
        padding: 10px;
    }
}

@media(max-width:600px){
    .user-info{
        display: block;
        margin-left: 10px;
        font-size: 12px;
    }
.slider p{
    font-size: 12px;
}
}





































