

*{
    margin: 0;
    padding: 0;
}
.morephoto{
    display: flex;
    width: 100%;
    margin-left: 100px;
    margin-right: 100px;
    margin-top: 150px;
    flex-wrap: wrap;
    gap: 35px;
}
.photo{
    width: 40%;
    display:flex;    height: 550px;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 10px;border-radius: 10px;
    border: 2px solid black;
}
.photo-title{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    
    
}


.photo-title p{
    margin-left: 10px;
    margin-bottom: 20px;
}
.photo img{
    width: 100%;
    height: 350px;
    border-radius: 10px;
}
.photos{
   height: 650px; 
   width: 83%;
display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 150px;
    display: block;
    border: 2px solid black;
    border-radius: 10px;

}
.class-photo{
    display: flex;
gap: 45px;
margin-bottom: 20px;
width: 40%;
}
.class-photo img{
    width:45% ;
    height: 350px;
    border-radius: 10px;
    margin-right: 50px;
}

.photoss{
    height: 650px; 
    width: 83%;
display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    margin-right: 150px;
    display: block;
    border: 2px solid black;
    border-radius: 10px;

}
.class-photos{
gap: 45px;
width: 100%;
margin-bottom: 20px;
}
.photos-title{
    margin-top: 0;
    top: 0;
}
.class-photos img{
    width:45% ;
    height: 350px;
    border-radius: 10px;
    margin-right: 50px;
}





