.hero{
width: 100%;
height: 100vh;
background:linear-gradient(rgba(8,0,58,0),rgba(8,0,58,0)), url('../../assets/heroo.avif');
background-size: cover;
    color: white;
display: flex;
justify-content: center;
align-items: center;

}
.hero-text{
    text-align: center;
    max-width: 700px;
}
.hero-text h1{
    font-size: 60px;
    font-weight: 600;
}
.hero-text p{
    margin: 10px auto 20px;
    line-height: 1.4;
}
@media(max-width:850px){
    .hero-text h1{
        font-size: 40px;
    }
}

@media(max-width:650px){
    .hero-text h1{
        font-size: 30px;
        max-width: 400px;
        margin: auto;
    }
    .hero-text p{
        font-size: 14px;
        margin: 15px auto 30px;
    }
}
.btn:hover{
transform: scale(1.08); 
    
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
    
}

























