.contacttitle{
    color: blue;
    margin: 80px;
    text-align: center;
}
.contact{
    max-width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-left: auto;
margin-bottom: 80px;
}
.contact-col1{
    flex-basis: 48%;
    color: #676767;
    line-height:1.5;
        font-weight: 600;

}
.contact-col1 h3{
    font-weight: 600;
    margin-bottom: 10px;
}
.contact-col1 ul li{
    display: flex;
    align-items: center;
    margin-top: 15px;
}

ul li img{
    width: 25px;
    margin-right:10px ;
}
.submit-btn{
    background-color: blue;
    color: white;
    margin-left: 240px;

}
.contact form input,.contact form textarea{
    display: block;
    width: 100%;
    padding: 15px;
    border: 0;
    margin-bottom: 15px;
    margin-top: 5px;
    background-color: #ebecfe;
    resize: none;
}
@media(max-width:700px){
    .contact{
        display: block;
    }
    .contact-col1{
        padding: 20px;
    }
}













