.programs-container {
width: 80%;
  margin: 50px auto;
  padding: 40px;
  background: #f8fbff;
  text-align: center;
  font-family: Arial, sans-serif;
  border-radius: 12px;
  margin-top: 50px;
}

.badge {
  background: #e7f0ff;
  color: #2563eb;
  padding: 6px 14px;
  border-radius: 20px;
  font-size: 14px;
  font-weight: 600;
}

.programs-container h1 {
  margin-top: 20px;
  font-size: 40px;
}

.programs-container h1 span {
  color: #2563eb;
}

.subtitle {
  color: #6b7280;
  margin: 10px 0 30px;
}

.program-card {
  background: #fff;
  padding: 25px;
  margin-bottom: 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.05);
}

.program-card h3 {
  margin-bottom: 8px;
}

.program-card p {
  color: #6b7280;
  max-width: 500px;
}

.program-card button {
  background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  font-size: 18px;
}

.program-card button:hover {
  background: #1e4fd8;
}
