.videoplayer{
        z-index: 100;
position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #000000e6;
    display: flex;
    align-items: center;
    justify-content: center;
}
.videoplayer video{
    width: 90%;
    max-width: 900px;
    height: auto;
    border: 4px solid #fff;
}
.videoplayer .hide{
    display: none;
}