.progrmas{
    margin: 80px auto;
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
}
.program-title{
    font-family: 'Poppins', sans-serif;
font-weight: 600;
margin-bottom: 50px;
margin-top: 50px;
text-align: center;
display: flex;
    align-items: center;
    justify-content:center;
    width: 100%;
    text-transform: capitalize;

}
.program img{
    width: 100%;
    border-radius: 10px;
    display: block;
}
.program{
    flex-basis: 31%;
    position: relative;
}
.caption{
    border-radius: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: rgba(0,15,152,0.3);
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: column;
    color: #fff;
    cursor: pointer;
    opacity: 0;
    padding-top: 70%;
    transition: 0.5s;
}

.caption img{
    width: 60px;
    margin-bottom: 10px;
    height: 60px;
    
}
.program3{
    height: 370px;
}

.program:hover .caption{
    opacity: 1;
    padding-top: 0;
}
@media(max-width:650px){
    .programs{
flex-direction: column;
    }
    .program{
        flex-basis: 100%;
        margin: 20px;
    }
}

.see-program{
    font-size: 25px;
    padding: 5px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 50px;
    color:white; 
    background-color: blue;
margin-left: 500px;
margin-top: 50px;
transition: all 0.1s ease;
}
.see-program:hover{
    transform: scale(1.08); 
    
    
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
}























