
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
      font-family: "Outfit", sans-serif;

}
a{
    text-decoration: none;
    color: inherit;
line-height: 1;
cursor: pointer;
}
.container{
    padding-right: 10px;
    color: blue;
}
.btn{
    background:     #fff;
    color: #212121;
    padding: 14px 25px;
    font-size: 16px;
    border-radius: 30px;
    cursor: pointer;

}
@media(max-width:1200px){
    .container{
        padding-left: 5%;
        padding-right: 5%;
    }
    
}