.btech{
margin-top: 100px;
width: 90%;

display: flex;
justify-content: center;
align-items: center;
margin-left: 75px;
margin-bottom: 100px;
flex-direction: row;
flex-wrap: wrap;

flex-wrap: wrap;

}
.titlee{
    display: flex;
    width: 95%;
    height: 300px;
    color: white;
        background-color: #2463eb33;
        background-image:linear-gradient(to right
        ,rgb(66, 66, 95),rgba(0,15,152,0.3)) ;
        
 flex-direction: row;
 justify-content: center;
 display:block;
 border-radius: 10px;
 
}
.titlee p{
    color: white;
    font-size: 50px;
    margin-top: 100px;
    margin-left: 100px;
    
}
.titlee h3{
margin-left: 100px;
}
.boxes{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 50px;
    justify-content: center;
}
.box
{
    width:29% ;
    height: 500px;
    border-radius: 10px;
    color: rgb(87, 63, 63);
    margin-top: 100px;
    
}
.box img{
    width: 100%;
    height: 300px;
    border-radius: 10px;
    margin-bottom: 20px;
    cursor: pointer;
}
.box button{
    font-size: 20px;
    border-radius: 10px;
    background: #2563eb;
  color: white;
  border: none;
  padding: 10px 18px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: 600;
  margin-top: 15px;
}
.info{
    
    margin-top: 20px;
display: flex;
flex-wrap: wrap;
justify-content: center;}

.title{
    margin-bottom: 0;
    font-size: 30px;
}





